[Desktop Entry]
Type=Application
Version=1.0
Name=Sachesi
Comment=Blackberry 10 device utility
Icon=sachesi
Exec=/usr/bin/sachesi
Terminal=false
Categories=Network;FileTransfer;Archiving;PDA;Qt
